body {
    margin: 40px auto;
    width: 70%;
    background:#CDB5CD;
}
Bcontainer {
   background:#4F2F4F; 
}
nav {
 border-bottom: 1px solid #4B0082;
 margin-bottom:10px;
 background:#CDB5CD;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
header {
    border-top: 1px solid #4B0082;
    border-bottom: 1px solid #4B0082;
    width:100%;
    background:#CDB5CD;
}
sidebar {
    
    border-top: 1px solid #4B0082;
    border-bottom: 1px solid #4B0082;
    border-left: 1px solid #4B0082;
    float:right;
    width:31.5%;
    padding-bottom:30px;
    padding-left:10px;
    height: 480px;
    margin-top:132.5px;
    background:#CDB5CD;
}
sidebar p {
    padding-top:100px;
}
mainContent {
   
    width:65%;
    border-top: 1px solid #4B0082;
    border-bottom: 1px solid #4B0082;
    border-right: 1px solid #4B0082;
    float:left;
    padding-right:10px;
    height:510px;
    margin-top:10px;
    background:#CDB5CD;
}
a {
    text-decoration: none;
    color: #2E0854;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Snell Roundhand', 'cursive';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    font-family: Snell Roundhand, 'cursive';
}
footer {
    margin-top: 10px;
    clear:both;
    border-top: 1px solid #4B0082;
    font-size: .8em;
    float:left;
    width:100%;
    background:#CDB5CD;
}
#footer {
    text-align: Center;
    font-size: 1.2em;
    display: inline;
    padding-left: 70px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
