body {
    margin: 40px auto;
    width: 70%;
    background:#CDB5CD;
}
nav {
 border-bottom: 1px solid #4B0082;
 margin-bottom:10px;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
header {
    border-top: 1px solid #4B0082;
    border-bottom: 1px solid #4B0082;
}
sidebar {
    border-left: 1px solid #4B0082;
    border-top: 1px solid #4B0082;
    border-bottom: 1px solid #4B0082;
    
    width:30%;
    padding-bottom:30px;
    height: 500px;
}
mainContent {
    float:left;
    width:70%;
    border-top: 1px solid #4B0082;
    border-bottom: 1px solid #4B0082;
    border-right: 1px solid #4B0082;
    margin-bottom:10px;
    height:500px;
}
a {
    text-decoration: none;
    color: #2E0854;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Snell Roundhand', 'cursive';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    font-family: Snell Roundhand, 'cursive';
}
footer {
    margin-top: 10px;
    clear:both;
    border-top: 1px solid #4B0082;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
